.card1 {
  width: 100%;
  height: 250px;
  max-width: 250px;
  background-color: #ffffff;
  border-color: #3b3b3b;
  color: #212121;
  margin-right: 1.5%;
  margin-left: 1.5%;
}

.card2 {
  width: 100%;
  height: 250px;
  max-width: 250px;
  background-color: #ffffff;
  border-color: #3b3b3b;
  color: #212121;
  margin-right: 1.5%;
  margin-left: 1.5%;
}

.card3 {
  width: 100%;
  height: 250px;
  max-width: 250px;
  background-color: #ffffff;
  border-color: #3b3b3b;
  color: #212121;
  margin-right: 1.5%;
  margin-left: 1.5%;
}

.card4 {
  width: 100%;
  height: 250px;
  max-width: 250px;
  background-color: #ffffff;
  border-color: #3b3b3b;
  color: #212121;
  margin-right: 1.5%;
  margin-left: 1.5%;
}

h4 {
  margin-left: 15px;
  margin-top: 30px;
  margin-bottom: -10px;
  color: #249990;
}

.q-layout {
  background-color: #ffffff;
}
