h4 {
  margin-left: 15px;
  margin-top: 30px;
  margin-bottom: 10px;
  color: #249990;
}

.search-bar {
  margin-right: 55px;
  margin-top: 30px;
}

.download-bar {
  margin-left: 655px;
  margin-top: 30px;
}

.filter {
  margin-left: 35px;
}

.employees-table {
  max-width: 1320px;
  margin: auto;

  .q-table {
    th,
    td {
      padding: 0 24px; // 24px padding on the sides of each cell
    }

    th {
      // Styles for table headers
      background-color: #249990;
      color: #ffffff;
      height: 56px;
      font-size: 16px;
      font-weight: bold;
    }

    tr {
      &:nth-child(odd) {
        background-color: #ffffff;
      }

      &:nth-child(even) {
        background-color: #ebebeb;
      }

      td {
        // Styles for table cells
        height: 48px;
        font-size: 16px;
      }
    }
  }

  .q-table--col-name,
  .q-table--col-email,
  .q-table--col-status {
    min-width: 48px; // Set the minimum width for each column
  }
}

.page-container {
  max-height: 9000px;
}

.q-btn:hover {
  background-color: #ffffff; /* Adjust the background color on hover */
}

/* Optional: Style the menu items on hover */
.q-item:hover {
  background-color: #249990;
}

.q-menu {
  width: 12%;
}
