h5 {
  margin-left: 5px;
  color: #249990;
  margin-top: 16px;
}

.h8 {
  color: #212121;
}

.q-input {
  border-radius: 8px;
  margin-bottom: 16px;
  height: 48px;
  width: 456px;
}

.q-btn {
  margin-bottom: 32px;
  margin-top: 16px;
}
