.date {
  margin-right: 50px;
}

.q-toolbar {
  min-width: 250px;
  width: 100%;
}

.q-item-label {
  color: #212121;
}

.q-header {
  background-color: #ffffff;
  color: #121212;
  font-weight: 500;
}

.top-icon {
  margin-top: 20%;
}

.bottom-icon {
  margin-top: 330px;
}

.drawer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.drawer-icon {
  display: flex;
  justify-content: center;
  align-items: center;

  .q-icon {
    font-size: 40px;
    height: 40px;
    width: 40px;
  }
}

.page-container {
  max-height: 1000px;
}

.search-bar-main {
  justify-content: center;
  align-items: center;
  margin-left: 100px;
  width: 350px;
}

.header-btn-icons {
  margin-left: 850px;
}
