<template>
  <div class="page-container justify-center items-center">
    <q-layout>
      <q-header>
        <q-toolbar class="q-mt-md q-mb-md">
          <q-btn flat dense>
            <q-icon name="diamond" size="40px" @click="toggleLeftDrawer" />
          </q-btn>
          <q-form class="search-bar-main">
            <q-input q-input outlined v-model="search" placeholder="Search">
              <template v-slot:append>
                <q-icon name="search" />
              </template>
            </q-input>
          </q-form>
          <div class="header-btn-icons">
            <q-btn
              class="btn-notif"
              size="20px"
              flat
              round
              color="dark"
              icon="notifications"
            />
            <q-btn
              class="btn-profile"
              size="20px"
              flat
              dense
              color="dark"
              icon="account_circle"
            />
          </div>
        </q-toolbar>
      </q-header>

      <q-drawer
        v-model="leftDrawerOpen"
        show-if-above
        bordered
        width="100"
        height="50%"
        class="drawer-container"
      >
        <q-list>
          <div class="bottom-icon">
            <EssentialLink
              v-for="link in essentialLinks"
              :key="link.icon"
              :icon="link.icon"
              :to="link.to"
              class="drawer-icon"
            />
            <q-item-label header>Menu</q-item-label>
          </div>
        </q-list>
      </q-drawer>

      <q-page-container>
        <router-view />
      </q-page-container>
    </q-layout>
  </div>
</template>

<script>
import { defineComponent, ref, watch, onMounted, onUnmounted } from "vue";
import EssentialLink from "components/EssentialLink.vue";
import { useRoute } from "vue-router";

const linksList = [
  {
    title: "Dashboard",
    icon: "home",
    to: { name: "dashboard" },
  },
  {
    title: "Employees",
    icon: "people",
    to: { name: "employees" },
  },
  {
    title: "Forms",
    icon: "account_box",
    to: { name: "forms" },
  },
  {
    icon: "menu",
  },
];

export default defineComponent({
  name: "MainLayout",

  components: {
    EssentialLink,
  },

  setup() {
    const leftDrawerOpen = ref(false);

    return {
      essentialLinks: linksList,
      leftDrawerOpen,
    };
  },
});
</script>
<style lang="scss" scope>
@import "pages/FrontendExercise/styles/MainLayout.scss";
</style>
