<script src="./scripts/Dashboard.js"></script>

<template>
  <transition
    appear
    enter-active-class="animated fadeIn"
    leave-active-class="animated fadeOut"
    :duration="2000"
  >
    <div class="dashboard">
      <!-- Place your elements here -->
      <h4>Dashboard</h4>
      <div class="q-pa-md row items-start q-gutter-sm q-mb-mb justify-center">
        <q-card class="card1">
          <q-card-section>
            <div class="text-h4 q-mb-lg">CARD 1</div>
            <div class="text-subtitle3">Description</div>
          </q-card-section>
        </q-card>

        <q-card class="card2">
          <q-card-section>
            <div class="text-h4 q-mb-lg">CARD 2</div>
            <div class="text-subtitle3">Description</div>
          </q-card-section>
        </q-card>

        <q-card class="card3">
          <q-card-section>
            <div class="text-h4 q-mb-lg">CARD 3</div>
            <div class="text-subtitle3">Description</div>
          </q-card-section>
        </q-card>

        <q-card class="card4">
          <q-card-section>
            <div class="text-h4 q-mb-lg">CARD 4</div>
            <div class="text-subtitle3">Description</div>
          </q-card-section>
        </q-card>
      </div>
    </div>
  </transition>
</template>

<style lang="scss" scope>
@import "./styles/Dashboard.scss";
</style>
