<script src="./scripts/EmployeesForm.js"></script>

<template>
  <div class="form-container">
    <div class="bar flex justify-left items-center">
      <q-btn unelevated rounded class="q-ml-sm">
        <q-icon name="arrow_back" />
      </q-btn>
      <h5>Staff Profile Details</h5>
    </div>
    <div class="forms flex justify-center">
      <q-form @submit.prevent="submitForm">
        <h8>Name:</h8>
        <q-input unrounded outlined v-model="name" label="Name" required />
        <h8>Employee ID:</h8>
        <q-input
          unrounded
          outlined
          v-model="id"
          label="Employee ID"
          type="id"
          required
        />
        <h8>Email:</h8>
        <q-input
          unrounded
          outlined
          v-model="email"
          label="Email"
          type="email"
        />
        <h8>Current Task:</h8>
        <q-input
          unrounded
          outlined
          v-model="task"
          label="Current Task"
          type="text"
          required
        />
        <h8>Description:</h8>
        <q-input
          class="q-mb-sm"
          unrounded
          outlined
          v-model="description"
          label="Description"
          type="textarea"
          required
        />
        <h8>Status:</h8>
        <q-input
          unrounded
          outlined
          v-model="status"
          label="Status"
          type="text"
          required
        />
        <h8>House Address:</h8>
        <q-input
          unrounded
          outlined
          v-model="address"
          label="House Address"
          type="address"
          required
        />

        <q-btn rounded type="submit" label="Save Changes" color="secondary" />
      </q-form>
    </div>
  </div>
</template>

<style lang="scss" scope>
@import "./styles/EmployeesForm.scss";
</style>
