<template>
  <div class="form-page-container">
    <div class="bar flex justify-between items-center">
      <h4>Employee List</h4>
      <q-btn
        class="download-bar"
        unelevated
        rounded
        color="secondary"
        icon="file_download"
        label="Download"
        style="width: 200px; height: 50px"
      />
      <q-form class="search-bar">
        <q-input
          q-input
          rounded
          outlined
          v-model="search"
          placeholder="Search"
          style="width: 200px; height: 50px"
        >
          <template v-slot:append>
            <q-icon name="search" />
          </template>
        </q-input>
      </q-form>
    </div>
    <div class="filter justify-left">
      <div class="q-pa-md">
        <div class="q-gutter-sm row items-center">
          <div class="col-auto q-mr-md">
            <q-title-header>Filters:</q-title-header>
          </div>
          <div class="col" style="flex: 0.15">
            <q-select
              class="filter-bar"
              rounded
              outlined
              v-model="model"
              :options="options"
              label="All"
            ></q-select>
          </div>
          <div class="col" style="flex: 0.15">
            <q-form class="date-bar">
              <q-input
                rounded
                outlined
                v-model="date"
                placeholder="Select Date"
              >
                <template v-slot:append>
                  <q-icon name="calendar_month" class="cursor-pointer">
                    <q-popup-proxy
                      transition-show="scale"
                      transition-hide="scale"
                    >
                      <q-date v-model="date" mask="YYYY-MM-DD">
                        <div class="row items-center justify-end">
                          <q-btn
                            flat
                            label="Close"
                            color="primary"
                            v-close-popup
                          />
                        </div>
                      </q-date>
                    </q-popup-proxy>
                  </q-icon>
                </template>
              </q-input>
            </q-form>
          </div>
        </div>
      </div>
    </div>

    <q-page padding>
      <div class="employees-table justify-center">
        <q-table
          flat
          bordered
          :rows="filteredData"
          :columns="displayedColumns"
          row-key="id"
          v-model:pagination="pagination"
          hide-bottom
        >
          <template v-slot:body-cell-actions="props">
            <q-td :props="props">
              <q-btn
                flat
                icon="more_vert"
                @mouseover="onToggleHover(true, props.row)"
                @mouseout="onToggleHover(false)"
                ><q-menu anchor="bottom left" self="top right" size="24px">
                  <q-item clickable size="24px">
                    <q-item-section>Edit</q-item-section>
                  </q-item>
                  <q-item clickable size="24px">
                    <q-item-section>Delete</q-item-section>
                  </q-item>
                </q-menu>
              </q-btn>
            </q-td>
          </template>
        </q-table>
      </div>
    </q-page>
  </div>
</template>

<script src="./scripts/EmployeesPage.js"></script>

<style lang="scss" scope>
@import "./styles/EmployeesPage.scss";
</style>
